{% load static %}
{% include 'header.html' %}

<section class="facilities-section">
    <div class="container">

        <h2 class="section-title neon-text mt-4">Our School Facilities</h2>
        <p class="section-para">Providing the best learning environment for our students.</p>

        <div class="facilities-container">
            {% for i in facilities %}
            <div class="facility-card">
                {% if i.image %}
                <img src="{{ i.image.url }}" alt="{{ i.name }}">
                {% else %}
                <img src="{% static 'default-facility.jpg' %}" alt="{{ i.name }}">
                {% endif %}
                <h3>{{ i.name }}</h3>
                <p>{{ i.description }}</p>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% include 'footer.html' %}